@tailwind base;
@tailwind components;
@tailwind utilities;

.font-gotham {
  font-family: "Gotham", sans-serif;
}

.font-gotham-bold {
  font-family: "Gotham", sans-serif;
  font-weight: 800;
}

.test {
  transition: 300ms all ease-in-out;
}

.card:hover > .test {
  top: 0;
}

.validation_input:invalid {
  border: 2px solid;
  @apply border-red-500
}

.validation_input:valid {
  border: 2px solid;
  @apply border-components-bold
}

.custom-select {
  -webkit-appearance: none;
  appearance: none;
  background: url("../../public/arr.png");
  background-position: calc(100% - 20px) center, calc(100% - 15px) center;
  background-size: 15px 15px, 15px 15px;
  background-repeat: no-repeat;
  padding-left: 5px;
  background-color: white;
  /* padding-right: 25px; Adjust this value to give space for the custom arrow */
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.logos-slide {
  display: inline-flex;
  vertical-align: top;
  animation: 8s slide infinite linear;
}

.logos-slide div {
  margin: 0 20px;
}
.card-top {
  background-image: url(../../public/card_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Article-back {
  background: url(../../public/backArticle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.sti {
  border-radius: 12px;
  background: linear-gradient(152deg, #9747ff 0%, rgba(11, 11, 12, 0.7) 126.15%),
    #f3f3fa;
}

.linear{
  background: linear-gradient(152deg, #9747ff 0%, rgba(11, 11, 12, 0.7) 126.15%),
  #f3f3fa;
}

.sec1 {
  background: linear-gradient(
    105deg,
    rgba(128, 61, 255, 0.04) -3.78%,
    rgba(47, 9, 118, 0.33) 99.14%
  );
}

.sec2 {
  background: linear-gradient(
    283deg,
    rgba(128, 61, 255, 0.04) 0.85%,
    rgba(47, 9, 118, 0.33) 96.97%
  );
}

.Signbg {
  background: linear-gradient(
    156deg,
    #9f66e2 0%,
    rgba(66, 1, 117, 0.7) 125.49%
  );
}

.backVideo {
  background: url(../../public/video.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bgBlock {
  background: url(../../public/Blockbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bgBlockOpa {
  background: linear-gradient(
    155deg,
    rgba(89, 89, 89, 0.09) 4.47%,
    rgba(0, 0, 0, 0.53) 126.43%
  );
}

.MainDash {
  height: calc(100% - 75px);
}

.Main2Dash {
  width: calc(100% - 70px);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .texth {
  @apply font-extrabold text-[60px] text-[#fff] leading-[70px]
    text-center absolute top-[40%] right-[10%]
    desktop:text-[45px] desktop:leading-[54px] desktop:right-[5%]
    laptop:text-[40px] laptop:leading-[54px] laptop:right-[4%] laptop:top-[20%]
    Large-phone:text-[30px] Large-phone:leading-[40px] Large-phone:right-[5%] Large-phone:top-[20%]
    phone:text-[23px] phone:leading-[30px] phone:right-[7%] phone:top-[20%];
}

.generate {
  @apply w-[378px] z-[100] h-[543px] bg-white absolute  mr-[30%] rounded-[15px]
    desktop:w-[378px] desktop:h-[543px] 
    laptop:w-[338px] laptop:h-[493px]
    Large-phone:w-[328px] Large-phone:h-[483px]  Large-phone:mr-0 Large-phone:mt-[50%]
    phone:w-[288px] phone:h-[433px] phone:mr-0 phone:mt-[50%];
}

.success_auth {
  @apply w-[378px] z-[100] h-[474px] bg-white absolute  mr-[30%] rounded-[15px] flex flex-col items-center
    desktop:w-[378px] desktop:h-[474px]
    laptop:w-[338px] laptop:h-[433px]
    Large-phone:w-[328px] Large-phone:h-[423px] Large-phone:mr-0 Large-phone:mt-[50%]
    phone:w-[288px] phone:h-[383px] phone:mr-0 phone:mt-[50%];
}

.icon_success {
  @apply w-[31.99%] h-[25.53%] mt-[20%];
}

.h_success {
  @apply font-semibold text-[25px] text-[#000000] leading-[32px] text-center mt-[10%]
    desktop:text-[25px] desktop:leading-[32px] desktop:mt-[10%]
    laptop:text-[20px] laptop:leading-[25px] laptop:mt-[10%]
    Large-phone:text-[20px] Large-phone:leading-[25px] Large-phone:mt-[10%]
    phone:text-[20px] phone:leading-[25px] phone:mt-[10%];
}

.p_success {
  @apply font-regular text-[20px] leading-[25px] text-center mt-[8%] text-[#171926] flex items-center justify-center
    desktop:text-[20px] desktop:leading-[25px] desktop:mt-[8%]
    laptop:text-[15px] laptop:leading-[20px] laptop:mt-[8%]
    Large-phone:text-[15px] Large-phone:leading-[20px] Large-phone:mt-[8%]
    phone:text-[15px] phone:leading-[20px] phone:mt-[8%];
}

.authLog {
  @apply w-[378px] z-[100] h-[284px] bg-white absolute mr-[30%] rounded-[15px] flex flex-col items-center
    desktop:w-[378px] desktop:h-[284px]
    laptop:w-[338px] laptop:h-[244px]
    Large-phone:w-[328px] Large-phone:h-[233px] Large-phone:mr-0 Large-phone:mt-[50%]
    phone:w-[308px] phone:h-[233px]  phone:mr-0 phone:mt-[50%];
}

.loader {
  @apply w-[24px] h-[15px] flex items-center justify-around ml-2;
} */

.ss {
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0.1;
  animation: loader 1s ease-in-out infinite calc(-0.2s * var(--i));
}

.s1 {
  --i: 3;
}

.s2 {
  --i: 2;
}

.s3 {
  --i: 1;
}

@keyframes loader {
  from,
  20% {
    opacity: 0.9;
  }
  to,
  80% {
    opacity: 0.1;
  }
}

.bgOpa {
  background: rgba(78, 50, 101, 0.21);
}
.SignImg {
  background: url("../../public/BgImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 1024px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {
  .custom-select {
    background: url("../../public/arr.png");
    background-position: calc(100% - 10px) center, calc(100% - 15px) center;
    background-size: 8px 8px, 8px 8px;
    background-repeat: no-repeat;
    padding-left: 5px;
    background-color: white;
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 3px;
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: #a19d9d73;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
  background: #00000000;
}
